/* Navbar'ın arka plan rengi */
.navbar-custom {
    background-color: #96B6C5;
}

/* Navbar butonları arasına boşluk ekler */
.btn-custom {
    color: black;
    border-color: white;
    margin-right: 10px; /* Navbarlar arasında boşluk bırakır */
}
    /* Butonun hover efekti */
  

body {
    background-color: #F1F0E8; /* Sayfa arka plan rengi */
}

.card-header {
    background-color: #EEE0C9; /* Card header arka plan rengi */
    color: black; /* Card header metin rengi */
}

.alert {
    background-color: #EEE0C9; /* Alert arka plan rengi */
    color: black; /* Alert metin rengi */
}

/* Mobil ekranlar için navbar ayarları */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center; /* Menü öğelerini ortalar */
    }

    .navbar-custom .nav-link {
        padding: 10px; /* Menü öğeleri arasındaki boşluğu artırır */
    }

    .navbar-toggler {
        border: none; /* Toggler düğmesinin kenarlığını kaldırır */
    }
}
