@{
    ViewBag.Title = "Muhasebe";
    Layout = "~/Views/Shared/_LayoutYönetici.cshtml";
}

<head>
    <link href="~/Content/yonetici/Yonetici_ındex.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>

<div class="container mt-4">
    <div class="card">
        <div class="card-header text-center fw-bold">
            <span class="text-dark fw-bold"> @ViewBag.birimAd birimi için Çalışan İşlerini Listeleme</span>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Takip", "Yonetici", FormMethod.Post))
            {
                <div class="mb-3">
                    <select class="form-select" name="selectPer" id="selectPer">
                        @foreach (var personel in ViewBag.personeller)
                        {
                            <option value="@personel.personelId">@personel.personelAdSoyad</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <button class="btn btn-outline-success" type="submit">İşleri Getir</button>
                </div>
            }
        </div>
    </div>
</div>

